:root{
  --light-goldenrod-yellow: #f0f0c9ff;
  --orange-yellow: #f2bb05ff;
	--dark-liver: #483c46ff;
	--ming: #3c6e71ff;
	--bud-green: #70ae6eff;
	--inchworm: #beee62ff;
	--mandarin: #f4743bff;
  --blood-red: #6e0e0aff;
  --uranian-blue: #a6d9f7ff;
}

body{
  background-color: var(--light-goldenrod-yellow);
}
.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--light-goldenrod-yellow);
}

.boardTable, .boardTableBody{
  border: 0px;
  border-collapse: collapse;
}

.cellContainer{
  padding: 0px;
}

.cellBlock{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 80px;	
	width: 80px;
	background-color: var(--uranian-blue);
  padding:10px;
  margin: 0px;
  border: 0px;
}

.blankCircle,
.oneCircle,
.twoCircle{
	height: 70px;
	width: 70px;
	border-radius: 50px;
}

.blankCircle{
	background-color: var(--light-goldenrod-yellow);
}

.oneCircle{
	background-color: var(--mandarin);
}

.twoCircle{
	background-color: var(--ming);
}

.modalContainer  {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #FCFC;
  padding: 50px;
  z-index: 1000;

}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 1000;
}
